<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-solid fa-money-bill-trend-up"></i>
    </div>
    <div class="sidebar-brand-text mx-3">KISS PV</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <div class="sidebar-heading">Backtesting</div>
  <!-- Nav Item - Quant Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="quant">
      <i class="fa-light fa-q"></i>
      <span>Quant</span>
    </a>
  </li>

  <!-- Nav Item - Rebalancing Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fa-solid fa-chart-line"></i>
      <span>Rebalancing</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Area</h6>
        <a class="collapse-item" href="rebalancing-korea">Korea</a>
        <a class="collapse-item" href="rebalancing-usa">USA</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Heading -->
  <div class="sidebar-heading">Portfolio</div>
  <!-- Nav Item - 국내 증권사 -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fa-solid fa-building-columns"></i>
      <span>Invest like Securities</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Companies</h6>
        <a class="collapse-item" href="portfolio-kis">한국투자증권</a>
        <a class="collapse-item" href="portfolio-samsung">삼성증권</a>
        <a class="collapse-item" href="portfolio-kb">KB증권</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - 투자의 대가 -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-user-secret"></i>
      <span>Invest like GURU</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Strategy</h6>
        <a class="collapse-item" href="ray-dalio">레이 달리오</a>
        <a class="collapse-item" href="harry-browne">해리 브라운</a>
        <a class="collapse-item" href="sixty-forty">주식·채권 60/40</a>
        <a class="collapse-item" href="forty-sixty">주식·채권 40/60</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Heading -->
  <div class="sidebar-heading">Utilities</div>

  <!-- Nav Item - 지표 설명 -->
  <li class="nav-item">
    <a class="nav-link" href="metrics">
      <i class="fa-solid fa-square-root-variable"></i>
      <span>Metrics</span></a
    >
  </li>

  <!-- Nav Item - 개발팀 후원 -->
  <li class="nav-item">
    <a class="nav-link" href="support">
      <i class="fa-solid fa-sack-dollar"></i>
      <span>Support</span></a
    >
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>

<!-- Divider
  <hr class="sidebar-divider my-0" />
  <!-- Nav Item - Dashboard
  <li class="nav-item active">
    <a class="nav-link" href="index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li> -->

<!-- Divider Addons
<hr class="sidebar-divider" />
<div class="sidebar-heading">Addons</div>
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapsePages"
    aria-expanded="true"
    aria-controls="collapsePages"
  >
    <i class="fas fa-fw fa-folder"></i>
    <span>Pages</span>
  </a>
  <div
    id="collapsePages"
    class="collapse"
    aria-labelledby="headingPages"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Login Screens:</h6>
      <a class="collapse-item" href="login">Login</a>
      <a class="collapse-item" href="register">Register</a>
      <a class="collapse-item" href="forgot-password">Forgot Password</a>
      <div class="collapse-divider"></div>
      <h6 class="collapse-header">Other Pages:</h6>
      <a class="collapse-item" href="404">404 Page</a>
      <a class="collapse-item" href="blank">Blank Page</a>
    </div>
  </div>
</li> -->
