{% extends 'base.html' %} {% block contents %}
<div class="row__illust">
  <!-- Ray Dalio All Weather Portfolio -->
  <div class="card shadow mb-4 mr-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <a href="ray-dalio">레이 달리오의 올웨더 포트폴리오</a>
      </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img
          class="img-fluid guru-img-profile px-3 px-sm-4 mt-3 mb-4"
          style="width: 25rem"
          src="static/img/ray_dalio.jpeg"
          alt="ray dalio"
        />
      </div>
      <p>
        ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
      </p>
    </div>
  </div>

  <!-- harry browne's permanent portfolio -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <a href="harry-browne">해리 브라운의 영구 포트폴리오</a>
      </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img
          class="img-fluid guru-img-profile px-3 px-sm-4 mt-3 mb-4"
          style="width: 25rem"
          src="static/img/harry_browne.jpeg"
          alt="harry browne"
        />
      </div>
      <p>
        ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
      </p>
    </div>
  </div>
</div>

<div class="row__illust">
  <!-- 60 40 -->
  <div class="card shadow mb-4 mr-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <a href="sixty-forty">주식·채권 60/40 포트폴리오</a>
      </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img
          class="img-fluid guru-img-profile px-3 px-sm-4 mt-3 mb-4"
          style="width: 25rem"
          src="static/img/sixty-forty.jpeg"
          alt="60/40"
        />
      </div>
      <p>
        ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
      </p>
    </div>
  </div>

  <!-- 40 60 -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <a href="forty-sixty">주식·채권 40/60 포트폴리오</a>
      </h6>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img
          class="img-fluid guru-img-profile px-3 px-sm-4 mt-3 mb-4"
          style="width: 25rem"
          src="static/img/forty-sixty.jpg"
          alt="40/60"
        />
      </div>
      <p>
        ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
      </p>
    </div>
  </div>
</div>
{% endblock contents %}
